@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root{
    --color-primary: #351eff;
    --color-primary-dark: #05092C;
    --color-secondary: #FFD200;
    --grey-dark: #2F2E41;
    --grey-light: #CCCCCC;
}
* {
    margin: 0px;
}
body{
    left: 0;
    top:0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
nav{
    width: 100%;
    height: 10vh;
    color: white;
    margin: 0px;
    background-color: var(--color-primary-dark);
    box-shadow:  10px 10px 30px #1b007e,
                 -10px -10px 30px #351eff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: fadein 1s ease-in;
}

nav div {
    margin-left: 2rem;
}

nav ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
}
nav ul li{
    display: inline-block;
    margin: 0rem 1rem;
    font-weight: bold;
}
nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color:var(--color-secondary);
}
nav a:active{
    color: var(--color-secondary);
}

header{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url(./bgtech.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header div{
    background-color: rgba(255, 255, 255, 0.7);;
    width: 70vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  10px 10px 30px #1b007e,
                 -10px -10px 30px #351eff;
     flex-direction: column;
    color: var(--color-primary-dark);
    text-align: center;
    animation: fadein 1s ease-in;
    transition: ease-in 0.5s;
}

header div:hover{
    width: 72vw;
    height: 47vh;
    font-size: 1.1rem;
}

header h1{
    font-size: 3.5rem;
    margin: 2rem;
    animation: slidedown 1s ease-in;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    background-color: var(--color-primary-dark);
}
.main-title{
    display: block;
    margin: 1rem;
    color: white;
    font-size: 1.5rem;
}
main .container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 850px;
    animation: slidein 1s ease-in;
}
.card{
    border: 2px solid var(--color-primary-dark);
    border-radius: 1rem;
    background: #ffffff;
    box-shadow:  5px 5px 20px #1b007e,
                 -5px -5px 20px #351eff;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
    width: 250px;
    height: 300px;
    flex-wrap: wrap;
    margin: 10px;

}
.card h3{
    margin: 15px 10px;
}
.card p{
    margin: 15px 10px;
    height: 100px;
}
.card a{
    display: block;
    margin: 15px 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color-primary-dark);
    color: white;

}

footer {
    background-color: var(--color-primary-dark);
    padding: 0 0 1rem;
    width: 100%;
    box-shadow:  5px 5px 20px #1b007e,
    -5px -5px 20px #070042;
}
footer ul {
list-style: none;
display: flex;
justify-content: center;
align-items: center;
padding-inline-start: 0px;
margin-block-start: 0;
margin-block-end: 0;
}
footer a {
text-decoration: none;
display: inline-block;
padding: 1rem;
font-size: 1.5rem;
color: white;
}


@keyframes fadein {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
}
@keyframes slidein {
    from {
      margin-right: 100%;
    }
  
    to {
      margin-right: 0%;   
    }
}

@keyframes slidedown {
    from {
        height: 0;
    }

    to {
        height: 25%;  
    }
}